/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Century Schoolbook';
}

body {
    background-color: white;
}

/* Header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    padding: 5px 10px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    user-select: none;
}

.logo-img {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: orange;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a.active {
    color: orange;
    font-weight: 700;
}

.logout-icon img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
}

.logout-icon img:hover {
    opacity: 0.7;
}

/* Adjust the styling for the main section */
main {
    background-color: whitesmoke;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 120px auto; /* Adjust the margins for better centering */
    width: 90%;
    max-width: 600px;
    border: 2px solid green;
}

h1 {
    color: black;
    text-align: left;
}

h2{
    margin-top: 20px; /* Space above the heading */
    color: black; /* Text color for the heading */
    font-size: 1.2em; /* Font size for the heading */
    text-decoration: underline; /* Underline the heading text */
}